<div class="container mt-4"
*ngIf="meter">


<h3>
Meter Details
</h3>


<table class="table table-bordered">


<tr>

<th>
Meter Number
</th>

<td>
{{meter.meterNumber}}
</td>

</tr>



<tr>

<th>
Manufacturer
</th>

<td>
{{meter.manufacturer}}
</td>

</tr>



<tr>

<th>
Model
</th>

<td>
{{meter.model}}
</td>

</tr>



<tr>

<th>
Installation Year
</th>

<td>
{{meter.installationYear}}
</td>

</tr>



<tr>

<th>
Status
</th>

<td>
{{meter.status}}
</td>

</tr>



<tr>

<th>
Current Reading
</th>

<td>
{{meter.currentReading}}
</td>

</tr>



<tr>

<th>
Consumer Name
</th>

<td>
{{meter.consumerName}}
</td>

</tr>



</table>


</div>